<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scopri</title>
  </head>
  <body>
    <!-- templates/core/room_details.html -->


{% block content %}
  <h1>Tipi di Camere</h1>
  {% for room_type in room_types %}
    <div class="room">
      <h2>{{ room_type.get_type_display }}</h2>
      <p>Descrizione: {{ room_type.description }}</p>
      <p>Posti letto: {{ room_type.bed_count }}</p>
      <p>Prezzo per notte: {{ room_type.price_per_night }} €</p>
      <div class="room-images">
        {% if room_type.image1 %}
          <img src="{{ room_type.image1.url }}" alt="Immagine 1">
        {% endif %}
        {% if room_type.image2 %}
          <img src="{{ room_type.image2.url }}" alt="Immagine 2">
        {% endif %}
        {% if room_type.image3 %}
          <img src="{{ room_type.image3.url }}" alt="Immagine 3">
        {% endif %}
      </div>
      <a href="{% url 'book_room' room_type.id %}" class="btn btn-primary">Prenota</a>
    </div>
  {% endfor %}
{% endblock %}

  </body>
</html>