<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>benvenuto</title>
  </head>
  <body>
    <div class="container my-5 text-center">
     <h1>Benvenuto!</h1>
     <h5> se hai un account accedi, se no registrati! <h5>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
     </div>
  </body>
</html>